
configuration {
	font: "Source Code Pro 10";
	show-icons: true;
	icon-theme: "Tela-dark";
	disable-history: false;
	sidebar-mode: false;
	hover-select: true;
	me-select-entry: "";
	me-accept-entry: [ MousePrimary, MouseSecondary, MouseDPrimary ];
}

* {
	void: #00000000;
	background: #242424dd;
	hover: #1e1e1eff;
	pressed: #6f6f6fff;
	foreground: #FFFFFFff;
	special: #295683ff;
}

window {
	transparency: "real";
	background-color: @background;
	text-color: @foreground;
	border: 0px;
	border-color: @special;
	border-radius: 0px;
	width: 15%;
	location: center;
	x-offset: 0;
	y-offset: 0;
}

entry {
	background-color: @void;
	text-color: @foreground;
	placeholder-color: @foreground;
	expand: true;
	horizontal-align: 0.5;
	placeholder: "Search";
	padding: 0.15% 0.5% 1% 0.5%;
	blink: true;
	location: center;
}

inputbar {
	children: [ entry ];
	background-color: @void;
	text-color: @foreground;
	expand: false;
	border: 0% 0% 0% 0%;
	border-radius: 7px;
	border-color: @special;
}

listview {
	background-color: @void;
	padding: 0px;
	columns: 2;
	lines: 1;
	spacing: 0%;
	cycle: true;
	dynamic: true;
	layout: vertical;
}

mainbox {
	background-color: @void;
	border: 0% 0% 0% 0%;
	border-radius: 0% 0% 0% 0%;
	border-color: @special;
	children: [ inputbar, listview ];
	spacing: 1%;
	padding: 2% 1% 2% 1%;
}

element {
	background-color: @void;
	text-color: @foreground;
	orientation: vertical;
	border-radius: 0%;
	padding: 1% 0.5% 1% 0.75%;
}

element-icon {
	size: 48px;
	border: 0px;
}

element-text {
	expand: true;
	horizontal-align: 0;
	vertical-align: 0.5;
	margin: 1% 0.25% 0% 0.25%;
}

element selected {
	background-color: @hover;
	text-color: @foreground;
	border: 0% 0% 0% 0.5%;
	border-radius: 7px;
	border-color: @void;
}
